@use "../../assets/style/colors" as *;

.user {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row: 1fr;
		align-items: center;
		margin-top: 2em;
		input {
			padding: 0.5em;
			border-radius: 8px;
			border: none;
			outline: none;
		}
	}

	button {
		align-self: center;
		justify-self: end;
		padding: 0.5em 1em;
		background-color: $button-color;
		color: $background-color;
		border-radius: 8px;
		border: none;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		outline: none;
		&:hover {
			background-color: $text-color;
			color: $background-color;
			-webkit-tap-highlight-color: transparent;
		}
	}
}
